.alert {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    z-index: 1000;
    animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
}

.alert.success {
    background-color: #4caf50; /* Verde */
}

.alert.error {
    background-color: #f44336; /* Rojo */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
